---
import LandingLayout from "../layouts/LandingLayout.astro";
import LandingBackground from "../components/landing/LandingBackground.astro";
import LandingHero from "../components/landing/LandingHero.astro";
import LinkSection from "../components/landing/LinkSection.astro";
import ProjectsSection from "../components/landing/ProjectsSection.astro";
import BlogTeaser from "../components/landing/BlogTeaser.astro";
import LandingFooter from "../components/landing/LandingFooter.astro";
---

<LandingLayout>
    <LandingBackground />
    <div class="relative z-10">
        <LandingHero />
        <LinkSection group="social" />
        <LinkSection group="support" />
        <LinkSection group="telegram" />
        <ProjectsSection />
        <BlogTeaser />
        <LandingFooter />
    </div>
</LandingLayout>
